params {
    input = null
    outdir = './results'
    input_file = null
    compound_col = 'Compound'
    concentration_col = 'Conc'
    response_col = 'Rab10'
    enable_custom_models = true
    selection_metric = 'rmse'
    show_ic50_lines = true
    show_dmax_lines = true
    file_format = 'svg'
    add_timestamp = true
    create_overlay = false
    overlay_compounds = null
    compound_colors = null
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
